body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.container {
  width: 90%;
}

/*------------------------------- Header---------------------------- */

.btnadminmenu {
  margin-right: 5px;
  background-color: #f93706 !important ;
}

.header {
  margin: 0;
  width: 100%;
  display: flex;
}

.rightheader-row {
  margin-top: 8px;
}

.header-left p {
  color: white;
  font-size: 13px;
  font-weight: 300;
  margin-top: 24px;
  float: left;
}

.searchbar {
  margin-top: 2px;
}

.srch {
  margin-left: 35%;
}

.userlogin {
  margin-top: 10px;
  background: #f93706;
  border-radius: 6px;
}

.userlogin a {
  color: white;
}

.social-media ul li {
  list-style: none;
  float: left;
}

.social-media li .fb {
  color: blue;
}

/* .social-media li .insta {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.social-media li .tweet {
  color: #0d95e8;
}

hr.navdownhrline {
  background: #f93706;
  width: 100%;
  margin-top: 9px;
}

.insta {
  background-color: none;
}

/* ---------------------------------header ends------------------------------------ */

.about-title h3 {
  margin-left: 64px;
}

/*----------------------------------navbar-----------------------------------------*/

.nav {
  width: 100%;
  margin-top: -18px;
}

.logo {
  width: 100%;
}

.logo img {
  width: 185px;
}

img {
  width: 70%;
  height: auto;
  margin-top: 10px;
  margin-right: 50px;
}

.navbar {
  width: 100%;
  margin-left: 20px;
  margin-top: -8px;
}

li a {
  color: #f93706;
  margin-left: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f93706;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
  color: #f93706;
}

.auth {
  display: flex;
}

@media screen and (max-width: 960px) {
  .navbar-toggler {
    margin-left: 90%;
  }
}

@media screen and (max-width: 540px) {
  .navbar-toggler {
    margin-top: -40%;
  }
}

/*--------------------------------- nav end------------------------------------- */

/* ---------------------------------Home Page------------------------------------- */

.c-item {
  width: 100%;
  overflow: hidden;
  height: 82vh;
  background-color: #000;
}
.carousel img {
  width: 100%;
  height: auto;
}

.c-desc {
  position: absolute;
  text-shadow: 3px 3px 3px #000;
  left: 40%;
  bottom: 10%;
  color: white;
}
.c-item .c-desc p {
  color: white;
}

.movie-tabs {
  flex-direction: row !important;
  justify-content: space-between;
  background-color: #f93706 !important;
}

.main-tabpanel {
  background-color: #000;
}

.label-tabs {
  display: flex;
}
.label-tabs i {
  line-height: 50px;
  padding: 0 15px;
}
.movie-tabs span {
  display: flex;
  align-items: center;
}

.makeStyles-root-13 {
  margin-top: 40px;
}

.MuiBox-root-19 {
  background-color: #000 !important;
}

.home-nowshowing {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.home-nextchange {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.home-upcoming {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.Paymentpartner-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Paymentpartner-section-ul {
  background-color: white;
}

.Paymentpartner-section li {
  list-style: none;
  float: left;
  padding-left: 66px;
}

.Paymentpartner-section i {
  margin-top: 28px;
}

.Paymentpartner-section p {
  font-family: bold;
  font-size: 20px;
  color: green !important;
  margin-top: 14px;
}

.Paymentpartner-section img {
  width: 100px;
  margin-top: 20px;
}

.footer {
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
}

.footer img {
  width: 250px;
  margin-left: 52px;
}

.footer-left li {
  padding-bottom: 30px;
  list-style: none;
}

.footer-left p {
  color: white;
}

.p-social {
  float: left;
  margin-left: 56px;
  color: white;
}
.footer-socialapp li {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}

.footer-socialapp .fa {
  padding: 7px;
  font-size: 19px;
  width: 30px;
  border-radius: 48%;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}

.vl {
  border-left: 2px solid #f93706;
  height: 244px;
}

.footer-about-section {
  width: 50%;
}

.footer-about-section li {
  list-style: none;
  margin-right: 22px;
}

.footer-about-section li p {
  color: white;
}

.footer-about-section h5 {
  color: white;
}

.footer-link {
  float: left;
}
.footer-map {
  float: right;
}
/* ---------------------------------Home page ends------------------------------------- */

/* ----------------------------------Admin page----------------------------------------- */

.admin-body {
  margin-top: 40px;
}

.admin h3 {
  color: white;
  margin-top: 20px;
}

.i-nowshowing {
  background-color: #f93706;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.movie-card.card {
  height: 95%;
}

/* -----------------------------Admin page code ends---------------------------------- */

/* -----------------------------Single movie page------------------------------------- */
.singleMCardbody {
  padding: 0;
  margin: 0;
}

.movie-card img {
  height: 200px;
}

.SMovie-Data ul {
  float: left;
}

.SMovie-Data li h2 {
  float: left;
  list-style: none;
  color: white;
}

.SMovie-Data h5 {
  color: white;
}

.SMovie-Data p {
  color: white;
  margin-top: 40px;
  text-align: justify;
}

.user-comment {
  margin-top: 50px;
}

.UComment h4 {
  color: white;
}

.release-date {
  /* float: right; */
  margin-top: 61px;
  margin-left: -492px;
}

.UComment-details {
  margin-top: 50px;
}

.UComment-details img {
  width: 50px;
  border-radius: 17px;
  float: left;
}

.UComment-details p {
  color: white;
  float: left;
  margin-top: 10px;
}

.commented-area p {
  text-align: justify;
  margin-left: 100px;
}

.comment-area {
  float: left;
  margin-left: 80px;
  margin-top: 25px;
}

.UComment li {
  list-style: none;
}

.comment-details li p {
  margin-top: 20px !important;
  float: left;
  margin-left: 86px;
  color: white !important;
}

.movie-info li {
  color: white !important;
  list-style: none;
}

.movie-description h2,
p {
  color: white !important;
}

.ticketbook-title h1 {
  color: white;
}

/* -------------------------------Single movie page ends -----------------------------*/

/* -------------------------------User dashboard--------------------------------- */

.user-details {
  float: left;
}

.user-details li {
  list-style: none;
  padding-bottom: 25px;
}

.user-details li p,
h3 {
  color: white;
}

.user-updated-details {
  margin-top: 30px;
}

.u-userdetails {
  background-color: #f93706;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.UUDetailsForm {
  width: 400px;
  margin-top: 28px;
}

.UUform {
  margin-top: 26px;
}

.btnuserupdateform {
  margin-bottom: 10px;
}
/* ---------------------------User dashboard ends--------------------------------- */

/* ---------------------------Contact page Start----------------------------------- */

.contact-container {
  width: 1700px !important;
}

.contact-main {
  margin-top: 50px;
}

.fa-map-marker {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-phone {
  background: #007bb5;
  color: white;
}

.fa-inbox {
  background: #ff5700;
  color: white;
}

.contact li h2,
h5 {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-socialmedia .fa {
  padding: 12px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  margin: 18px;
  border-radius: 50%;
}

.contact-social-ul {
  margin-top: 50px;
}

.contact-socialmedia-details-ul {
  margin-top: 60px;
}

.contact-socialmedia-details ul {
  /* padding-bottom: 8px; */
  float: left;
}

.contact-socialmedia-details li {
  /* padding-bottom: 8px; */
  margin-top: 16px;
}

.contact-socialmedia-details li h6 {
  color: white;
}

.contact-socialmedia-details li p {
  color: white;
}

.contact-social li {
  list-style: none;
}

.contact-insert {
  background-color: white;
  width: 500px;
  height: 340px;
  border-radius: 10px;
}

.contact-topic {
  margin-top: 30px;
  margin-left: 30px;
}

.contact-insert-title {
  color: black;
  float: left;
}

.contact-i {
  margin-top: 90px;
}

.btn-contact {
  float: left;
  background-color: #f93706;
}

.contact-form {
  width: 400px;
  margin-left: 32px;
}

/* -------------------------Contact page code ends---------------------------------- */

/* --------------------------About page code start------------------------------- */

.about-hall img {
  width: 88%;
  margin-left: 120px;
}

.about-description {
  margin-top: 50px;
}

.about-hall {
  margin-top: 15px;
}

.about-desc p {
  text-align: justify;
  margin-left: 130px;
}

.about-hall2 img {
  float: right;
}

/* .picture-about{
  float: left;
} */

/* -------------------------About page code ends----------------------------------- */

/*------------------------------ Ticket page------------------------- */

.ticket-page h3 {
  float: left;
}

.ticket-rate {
  margin-top: 60px;
}

.i-ticket {
  background-color: #f93706;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.form-ticket {
  width: 280px;
}

.admin-ticket-page h3 {
  float: left;
  margin-bottom: 25px;
}

/* ------------------------Ticket page css ends--------------------------- */

/* -------------------------------Login page code------------------------------ */

.login-page {
  margin-top: 20px;
}

.loginpage-heading {
  margin-bottom: 25px;
  color: white;
}

.btn-login {
  background: #f93706 !important;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.half,
.half .container > .row {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 500px;
  }
}

.half .contents,
.half .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
  }
}
.half .contents .form-group,
.half .bg .form-group {
  overflow: hidden;
  margin-bottom: 0;
  border: 1px solid #efefef;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
}
.half .contents .form-group label,
.half .bg .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.half .contents .form-group input:focus + label,
.half .bg .form-group input:focus + label {
  margin-top: -20px;
}
.half .contents .form-group.first,
.half .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.half .contents .form-group.last,
.half .bg .form-group.last {
  border-bottom: 1px solid #efefef;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.half .contents .form-group label,
.half .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3;
}
.half .contents .form-group.field--not-empty label,
.half .bg .form-group.field--not-empty label {
  margin-top: -20px;
}
.half .contents .form-control,
.half .bg .form-control {
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.half .bg {
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
  text-decoration: underline;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.social-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-login a {
  display: block;
  text-decoration: none;
  display: block;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.social-login a:hover {
  color: #fff;
}
.social-login a.facebook {
  background: #3b5998;
  padding: 14px;
  width: 72px;
  border-radius: 30%;
  margin-right: 20px;
}
.social-login a.facebook:hover {
  background: #344e86;
}
.social-login a.twitter {
  background: #1da1f2;
  padding: 14px;
  width: 72px;
  border-radius: 30%;
  margin-right: 20px;
}
.social-login a.twitter:hover {
  background: #0d95e8;
}
.social-login a.google {
  background: #ea4335;
  padding: 14px;
  width: 72px;
  border-radius: 30%;
  margin-right: 20px;
}
.social-login a.google:hover {
  background: #e82e1e;
}

.social-login p {
  font-size: 12px;
  color: white;
  margin-right: 12px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: #007bff;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1a88ff;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: 0.2;
}

/* ----------------------------Login page code ends------------------------------- */

/* ----------------------------Register page code--------------------------------- */

/* @extend display-flex; */
display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli,
.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

input[type='checkbox'] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
}

input[type='radio'] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}

.clear {
  clear: both;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  /* background: #f8f8f8; */
  font-weight: 400;
}

.container {
  width: 900px;
  /* background: #fff; */
  margin: 0 auto;
  /* box-shadow: 0px 5px 5px 0.17px rgba(0, 0, 0, 0.05); */
  /* -moz-box-shadow: 0px 5px 5px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 5px 5px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 5px 5px 0.17px rgba(0, 0, 0, 0.05); */
  /* -ms-box-shadow: 0px 5px 5px 0.17px rgba(0, 0, 0, 0.05); */
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.signup-content {
  padding: 15px 0;
}

.signup-form,
.signup-image {
  width: 50%;
  overflow: hidden;
}

.signup-image {
  margin: 0 55px;
}

.form-title {
  margin-bottom: 33px;
  color: white;
}

.signup-image {
  margin-top: 45px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #f93706;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 10px 28px;
  cursor: pointer;
}
.form-submit:hover {
  background: #4292dc;
}

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
  margin-top: -90px;
  margin-left: 70px;
}

.term-service {
  font-size: 13px;
  color: #222;
}

/* .signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
} */

.register-form {
  width: 100%;
}

.signup-image-link{
  color: white;
}

.form-group {
  position: relative;
  overflow: hidden;
}
.form-group:last-child {
  margin-bottom: 0px;
}

.label-agree-term{
  color: white;
}

.label-agree-term a{
  color: white;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
}
input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
.signup-image {
	margin-top: 184px;
	margin-right: 0;
}
input:focus {
  border-bottom: 1px solid #222;
}
input:focus::-webkit-input-placeholder {
  color: #222;
}
input:focus::-moz-placeholder {
  color: #222;
}
input:focus:-ms-input-placeholder {
  color: #222;
}
input:focus:-moz-placeholder {
  color: #222;
}

input[type='checkbox']:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}

input[type='checkbox']:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px;
}

input[type='checkbox']:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom;
}

input[type='checkbox']:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
}

input[type='checkbox']:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold;
}

.agree-term {
  display: inline-block;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .signup-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
  }

  .signup-form,
  .signup-image {
    width: auto;
  }

  .form-button {
    text-align: center;
  }

  .form-title {
    text-align: center;
  }
}

/* Register page code ends */
